*, html{
    scroll-behavior: smooth !important;
}


body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* navbar */
.navbar {
    height: 100vh;
    width: 359px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242525;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* profile pic */
.picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-items: center;
    margin-bottom: 30px;
}

/* navbar headings */
.navbar h3 {
    display: block;
    color: #D0D0D0;
    text-align: center;
}


.navbar h3:hover, a:hover {
    cursor: pointer;
    color: #124E66;
    background: linear-gradient(to right, #225C73, #608392);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}


/* container for the entire left side */
#content {
    display: flex;
    flex-direction: column;
    margin-left: 359px;
    width: calc(100% - 359px);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
    
}

.nav_list{
    list-style: none;
    font-size: 32px;
    text-decoration: none;
    padding-right: 40px; 
}

#icon2{
    display: none;
}

#icon{
    display: none;
}

/* intro container */
#main-container {
    background-color: #121313;
    padding: 20px;
    /* margin-top: 0; */
    /* flex-grow: 1; */
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    /* overflow-y: hidden; */
}


/* signature */
.signature{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* name */
#name_title {
    background: linear-gradient(to right, #225C73, #608392);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #225C73; */
    text-align: center;
    font-size: 137px;
    /* font-size: 8vw; */
    margin: 0;
}

/* intro container */
.intro {
    text-align: left;
}

#message {
    color: #D0D0D0;
    width: 90%;
    word-break: break-word;
    font-size: 20px;
    text-align: center;
    padding-left: 58px;
    /* font-size: 2vw; */

}

/* logo container */
.logos {
    /* margin-top: 20px; */
    display: flex;
    gap: 40px;
}

.github {
    height: 25px;
    width: 28px;
    margin-top: 5px;
}

.github:hover{
    cursor: pointer;
}

.mail {
    height: 25px;
    width: 31.25px;
    margin-top: 5px;
}

.mail:hover{
    cursor: pointer;
}

.phone {
    height: 25px;
    width: 25px;
    margin-top: 5px;
}

.phone:hover{
    cursor: pointer;
}

/* .github {
    height: 25px;
    width: 28px;
}

.github:hover{
    cursor: pointer;
} */

/* dividing line */
.divider_1 {
    width: 90%;
    height: 2px;
    border-bottom: 1px solid #245D74;
    margin-top: 20px;
    background: linear-gradient(to right, #225C73, #608392);
    /* border: none; */

}

#education_container {
    background-color: #121313;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    scroll-behavior: smooth;
}

#education_name {
    color: #275F76;
    text-align: left;
    padding-left: 58px;
    font-size: 40px;
    /* font-size: 5vw; */
}

/* container list */
.list{
    padding-left: 35px;
}

.list ul li::marker{
    color: #275F76;
    font-size: 16px;
}

#bullet{
    color: #275F76;
}

/* bachelor/minor/master list */
#bachelor, #minor, #master{
    color: #D0D0D0;
    width: 353px;
    font-size: 20px;
    /* font-size: 2vw; */
    /* padding-left: 58px; */
}


/* second divider */
.divider_2{
    width: 90%;
    height: 2px;
    border-bottom: 1px solid #245D74;
    margin: 20px auto;
    background: linear-gradient(to right, #225C73, #608392);

}


#experience_container{
    background-color: #121313;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    scroll-behavior: smooth;
}

/* experience title */
#experience_name {
    color: #275F76;
    text-align: left;
    padding-left: 58px;
    font-size: 40px;
    /* font-size: 5vw; */
}

#bullet_exp{
    color: #275F76;
}

.list_exp{
    padding-left: 35px;
}

.list_exp ul li::marker{
    color: #275F76;
    font-size: 16px;
}

/* first, second, third, fourth, fifth, sixth, seventh experience bullets */
#one_exp, #second_exp, #third_exp, #fourth_exp, #fifth_exp, #sixth_exp, #seventh_exp{
    color: #D0D0D0;
    width: 100%;
    font-size: 20px;
    /* font-size: 2vw; */
}

/* extra space between insurancea and june */
.extra1{
    margin: 152px;
}

#indent{
    color: #275F76;
}

/* third divider */
.divider_3{
    width: 90%;
    height: 2px;
    border-bottom: 1px solid #245D74;
    margin: 20px auto;
    background: linear-gradient(to right, #225C73, #608392);

}

/* project */
#project_container{
    background-color: #121313;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    scroll-behavior: smooth;
}

/* project title */
#project_name {
    color: #275F76;
    text-align: left;
    padding-left: 58px;
    font-size: 40px;
    /* font-size: 5vw; */
}

.list_project{
    padding-left: 35px;
}

/* project bullets */
.list_project ul li::marker{
    color: #275F76;
    font-size: 16px;
}

#bullet_project{
    color: #275F76;
}

/* All projects */
#one_project, #two_project, #three_project, #four_project, #five_project, #six_project{
    color: #D0D0D0;
    width: 90%;
    font-size: 24px;
    word-break: break-word;
    /* font-size: 2vw; */
}

/* langauge used bullet */
.extra_project, .extra_project2, .extra_project3, .extra_project4, .extra_project5, .extra_project6{
    font-size: 16px;
    /* font-size: 1.5vw; */
    font-style: italic;
}

/* bullet color */
#indent_project, #indent_project2, #indent_project3, #indent_project4, #indent_project5, #indent_project6{
    color: #275F76;
}

/* bullet points for each project and its information */
#one_bullet_proj, #two_bullet_proj, #one_bullet_proj2, #two_bullet_proj2, #one_bullet_proj3, #one_bullet_proj4, #one_bullet_proj5, #two_bullet_proj6, #one_bullet_proj6{
    margin-top: 10px;
    color: #D0D0D0;
    /* width: 920px; */
    word-break: break-word;
    font-size: 20px;
    /* font-size: 2vw; */
}

/* fourth divider */
.divider_4{
    width: 90%;
    height: 2px;
    border-bottom: 1px solid #245D74;
    margin: 20px auto;
    background: linear-gradient(to right, #225C73, #608392);

}

/* skills container */
#skills_container{
    background-color: #121313;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    scroll-behavior: smooth; 
}

/* skills title */
#skills_name {
    color: #275F76;
    text-align: left;
    padding-left: 58px;
    font-size: 40px;
    /* font-size: 5vw; */
}
/* tools and languages, systems/applications, data/security */
.tools_list, .systems_list, .data_security_list{
    padding-left: 59px;
    padding-bottom: 20px;
    font-size: 20px;
    /* font-size: 2vw; */
    color: white;
    font-weight: bold;
}

#langs, #systems, #data_security{
    font-weight: normal;
    font-size: 18px;
    /* font-size: 2vw; */
}

/* fifth divider */
.divider_5{
    width: 90%;
    height: 2px;
    border-bottom: 1px solid #245D74;
    margin: 20px auto;
    background: linear-gradient(to right, #225C73, #608392);

}

#contact_container{
    background-color: #121313;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    scroll-behavior: smooth;
}

/* experience title */
#contact_me_name {
    color: #275F76;
    text-align: left;
    padding-left: 58px;
    font-size: 40px;
}

.email{
    padding-left: 59px;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
    /* font-weight: bold; */
}

.number{
    padding-left: 59px;
    padding-bottom: 20px;
    font-size: 20px;
    color: white;
    /* font-weight: bold; */
}

/* .nav_list .icon{
    display: none;
} */

@media (max-width: 1024px) {
    .navbar {
        width: 300px;
    }

    /* .picture{
        width: 100px;
    } */

    #content {
        margin-left: 300px;
        width: calc(100% - 300px);
    }

    /* .intro{
        width: 700px;
    } */

    /* #main-container {
        margin-left: 300px;
        width: calc(100% - 300px);
    } */

    #name_title {
        font-size: 100px;
    }

    #message {
        width: 100%;
        word-break: break-word;
        padding-left: 0px;

    }

    #one_exp, #second_exp, #third_exp, #fourth_exp, #fifth_exp, #sixth_exp, #seventh_exp {
        width: 90%;
        word-break: break-word;

    }

    #indent{
        /* width:100%; */
        word-break: break-word;

    }

    #one_project, #two_project, #three_project, #four_project, #five_project, #six_project, 
    #one_bullet_proj, #two_bullet_proj, #one_bullet_proj2, #two_bullet_proj2, #one_bullet_proj3, 
    #one_bullet_proj4, #one_bullet_proj5, #one_bullet_proj6, #two_bullet_proj6 {
        width: 100%;
        word-break: break-word;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 250px;
    }

    /* .nav_list a:not(:first-child){
        display: none;
    } */

    .nav_list.responsive {
        position: relative;
    }
    
    .nav_list.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav_list.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #content {
        margin-left: 250px;
        width: calc(100% - 250px);
    }

    #name_title {
        font-size: 80px;
    }

    #message {
        width: 100%;
        word-break: break-word;

    }

    .list_exp{
        /* width: 100%; */
        word-break: break-word;
        /* padding-left: 0px; */
    }

    #one_exp, #second_exp, #third_exp, #fourth_exp, #fifth_exp, #sixth_exp, #seventh_exp {
        width: 100%;
    }

    #one_project, #two_project, #three_project, #four_project, #five_project, #six_project, 
    #one_bullet_proj, #two_bullet_proj, #one_bullet_proj2, #two_bullet_proj2, #one_bullet_proj3, 
    #one_bullet_proj4, #one_bullet_proj5, #one_bullet_proj6, #two_bullet_proj6 {
        width: 100%;
        word-break: break-word;
    }
}

@media (max-width: 480px) {
    .navbar {
        width: 200px;
    }

    /* #icon2{
        display: inline-block;
    } */

    .nav_list{
        display: none;
    }

    #content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }

    #name_title {
        font-size: 60px;
    }

    #message {
        width: 100%;
        word-break: break-word;

    }

    #one_exp, #second_exp, #third_exp, #fourth_exp, #fifth_exp, #sixth_exp, #seventh_exp {
        width: 100px;
        word-break: break-word;

    }

    #one_project, #two_project, #three_project, #four_project, #five_project, #six_project, 
    #one_bullet_proj, #two_bullet_proj, #one_bullet_proj2, #two_bullet_proj2, #one_bullet_proj3, 
    #one_bullet_proj4, #one_bullet_proj5, #one_bullet_proj6, #two_bullet_proj6 {
        width: 100px;
        word-break: break-word;

    }

    .list{
        width: 100px;
        word-break: break-word;

    }

    #message, #one_exp, #second_exp, #third_exp, #fourth_exp, #fifth_exp, #sixth_exp, #seventh_exp,
    #one_project, #two_project, #three_project, #four_project, #five_project, #six_project, 
    #one_bullet_proj, #two_bullet_proj, #one_bullet_proj2, #two_bullet_proj2, #one_bullet_proj3, 
    #one_bullet_proj4, #one_bullet_proj5, #one_bullet_proj6, #two_bullet_proj6 {
        font-size: 1.5vw;
    }
}

